.muestraPerfumesDetail{
   background-color: black;
   border: 5px solid crimson;
   border-radius: 10%;
   width: 20rem;
   height: 33rem;
   margin-left: auto;
   margin-right: auto;
   padding: 0rem;
   color: white;
 }

.titulo{
   font-size: 1.5rem;
   font-weight: normal;
   text-decoration: transparent;
   text-align: center;
   padding: 0.5rem;
}
.imgg{
   width: 15rem;
   height: 15rem;
   border-radius: 20%;
   margin: 0rem;
}
.img-div{
   text-align: center;
}
.precio{
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
}
.stock{
   padding: 0.5rem;
   font-size: 1rem;
   margin-top: -1rem;;
}

.volver{
    font-size: 0.7rem;
    text-align: center;
    width: 8rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-color: crimson;
    color: white;
} 

.btn-volver{
   text-align: center;
   /* margin-top: -1.5rem; */
}

.btn-add-final{
   background-color: #693668;
   width: 8rem;
   height: 1.5rem;
   color: white;
   font-size: 0.8rem;
   text-align: center;
   margin: 0.5rem;
}

.alineacion{
   margin-left: 5.5rem;
}