.contactoGeneral{
    background-color: transparent;
    border: 5px solid crimson;
    width: 70%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.titleContact{
    font-size: 30px;
    color: white;
    padding-top: 1rem;
}
/* 
.textContact{
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

.input{
    background-color: #693668;
    color: white;
    border: 2px solid crimson;
    width: 30rem;
    height: auto;
}

.check{
    margin: 1.5rem;
    border: 2px solid #693668;
    padding: 2rem;
    color: white;
}

.form-check{
    margin-top: 0.5rem;
}
.form-check-input{
    border: 4px solid #693668;
    text-align: center;
}

.tamaño{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0;
}

.btn-submit{
    background-color: #693668;
    width: 6rem;
    height: auto;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}
 */





form{
    margin: 40px 0;
    color: white;

}

form label{
    display: block;
    font-size: 18px;
    margin: 20px 0 10px;
}

form label, form .quest{
    display: block;
}

.input-padron{
    /* display: block;
    margin: 0 0 20px; */
    padding: 5px 10px;
    width: 50%;
}

.input-padron:hover{
    border: 2.5px solid crimson;
   
}

.checkboxx{
    margin: 30px 0 10px 0;
}

.fieldset{
    border: transparent;
}

.option{
    background-color: #693668;
    border: transparent;
}

.enviar{
    width: 40%;
    padding: 5px 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #693668;
    border: transparent;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: crimson;
    /* para modificar el tamaño */
    transform: scale(1.1);
    /* transform: scale(1.2) rotate(360deg); */
    /* transform: rotate(360deg); */

}
