.headerr{
  background-color: crimson;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}



.title{
    font-size: 1.5rem;
    text-decoration: transparent;
    color: #ffffff;
    padding: 5px;
}

.navbar .navi{
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 10px;
}

.navbar .navi:hover{
    border: 2px solid #002352;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.dropdown-menu{
  background-color: #002352;
  border: transparent;
  color: white;
  border: 2px solid white;
}
.dropdown-item{
  color: #ffffff;
}
.dropdown-item:hover{
  background-color: #FF3562;
  text-align: center;
  color: #ffffff;

}
.btn-tog{
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #002352;
  width: 40px;
  height: 40px;
}
.cartt{
  width: 4rem;
  height: 4rem;
}

.logo{
  width: 80px;
  height: auto;
  border: 2px solid black;
  border-radius: 50%;
  transition: 1s all;

}

.logo:hover{
  transform: scale(1.1);
}