
.count{
    background-color: black;
    border: 1px solid #693668;
    color: #ffffff;
    width: 12rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
}
.countN{
    font-size: 1.5rem;
    text-align: center;
}

.btnn{
    background-color: #693668;
    color: white;
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    margin-bottom: 1rem;
}

.btn-add{
    background-color: #693668;
    width: 8rem;
    height: 1.5rem;
    color: white;
    font-size: 1rem;
    text-align: center;
}